.title-value-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  font-size: 28px;
}
.title-value-container > .title-text {
  color: #9a9a9a;
  text-align: end;
}

.title-value-container > .value-text {
  color: #545454;
  font-weight: 500;
  margin-left: 10px;
}
